# Preliminary EDA and Data Prep for Census Data File

This project is divided into 3 separate notebooks, one for each section of our analysis:

<li>*Part 1:* FBI NICS Data and patterns within the guns data - observable changes over time, cyclical nature of permits.
<li>*Part 2:* Census data wrangling and cleaning and creation of a single dataset that can be used for Part 3.
<li>*Part 3:* A look at the relationship between variables in the census data and the normalized number of background checks - i.e. are there characteristics of a stateâ€™s demographics that appear to correlate to the number of background checks? This section will be performed for a subset of data from the NICS checks so we can compare it to the census data.

##### *This notebook contains Part 2*

In [410]:
# Imports and files
# Pagckages Import Section
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
from pprint import pprint

# Looking at easier ways of converting strings to dates.
import timestring as ts
#da = ts.Date("2017-09")
% matplotlib inline

df = pd.read_csv('US_Census.csv')
#df.head()

### Useful Functions Section

In [411]:
def get_real_types(df):
    '''Input a pandas dataframe and get back a dictionary showing the 
    actual data types of each column - instead of <object> pointers.
    ** make sure you include from pprint import pprint
    
    '''

    # Create empty dictionary:
    types_list = {}
    # Create a list of the columns in df
    columns_list = df.columns.tolist()
    
    # For loop creates a key-value pair in the types_list dict with column name and the
    # data type of the value in the first row for that column

    for i in columns_list:
        types_list[i] = type(df[i].iloc[0])

    pprint(types_list)

    return(types_list)

In [412]:
# Basic info about the data set:
#df.info()
#get_real_types(df)

From this basic exploration, we can see that this data is not going to be that useful - all the values are strings. Also, the columns are states instead of the attributes of each state (like the layout of the NICS data). 

To-Do's for this data:

- drop the rows that are not really part of the data (65-84). We'll keep these in a backup copy of the file in case we need to refer to them.
- drop the Fact note column
- transform the data so the rows and columns are transposed.
#df = df.T
- rename the columns
- change all the data to floats so that we will be able to use it

In [413]:
# Drop the data we definitely don't need or that doesn't belong
df.drop(df.index[65:85], inplace=True)
df.drop(columns = 'Fact Note', inplace=True)
df.reset_index(drop=False)
df

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
5,"Persons under 5 years, percent, April 1, 2010",6.40%,7.60%,7.10%,6.80%,6.80%,6.80%,5.70%,6.20%,5.70%,...,0.073,0.064,7.70%,9.50%,5.10%,6.40%,6.50%,5.60%,6.30%,7.10%
6,"Persons under 18 years, percent, July 1, 2016,...",22.60%,25.20%,23.50%,23.60%,23.20%,22.80%,21.10%,21.50%,20.10%,...,0.246,0.226,26.20%,30.20%,19.00%,22.20%,22.40%,20.50%,22.30%,23.70%
7,"Persons under 18 years, percent, April 1, 2010",23.70%,26.40%,25.50%,24.40%,25.00%,24.40%,22.90%,22.90%,21.30%,...,0.249,0.236,27.30%,31.50%,20.70%,23.20%,23.50%,20.90%,23.60%,24.00%
8,"Persons 65 years and over, percent, July 1, 2...",16.10%,10.40%,16.90%,16.30%,13.60%,13.40%,16.10%,17.50%,19.90%,...,0.16,0.157,12.00%,10.50%,18.10%,14.60%,14.80%,18.80%,16.10%,15.00%
9,"Persons 65 years and over, percent, April 1, 2010",13.80%,7.70%,13.80%,14.40%,11.40%,10.90%,14.20%,14.40%,17.30%,...,0.143,0.134,10.30%,9.00%,14.60%,12.20%,12.30%,16.00%,13.70%,12.40%
10,"Female persons, percent, July 1, 2016, (V2016)",51.60%,47.70%,50.30%,50.90%,50.30%,49.70%,51.20%,51.60%,51.10%,...,0.496,0.512,50.40%,49.70%,50.60%,50.80%,50.00%,50.50%,50.30%,48.90%
11,"Female persons, percent, April 1, 2010",51.50%,48.00%,50.30%,50.90%,50.30%,49.90%,51.30%,51.60%,51.10%,...,0.5,0.513,50.40%,49.80%,50.70%,50.90%,50.20%,50.70%,50.40%,49.00%
12,"White alone, percent, July 1, 2016, (V2016)",69.30%,66.10%,83.30%,79.40%,72.70%,87.50%,80.60%,70.10%,77.60%,...,0.852,0.787,79.40%,91.10%,94.60%,70.00%,80.00%,93.60%,87.50%,92.80%
13,"Black or African American alone, percent, July...",26.80%,3.80%,4.90%,15.70%,6.50%,4.50%,11.80%,22.60%,16.80%,...,0.02,0.171,12.60%,1.40%,1.30%,19.80%,4.10%,3.60%,6.60%,1.30%
14,"American Indian and Alaska Native alone, perce...",0.70%,15.20%,5.40%,1.00%,1.70%,1.60%,0.50%,0.60%,0.50%,...,0.09,0.004,1.00%,1.60%,0.40%,0.50%,1.90%,0.20%,1.10%,2.70%
15,"Asian alone, percent, July 1, 2016, (V2016)",1.40%,6.30%,3.40%,1.60%,14.80%,3.30%,4.70%,4.00%,2.90%,...,0.015,0.018,4.80%,2.50%,1.80%,6.60%,8.60%,0.80%,2.80%,1.00%
16,Native Hawaiian and Other Pacific Islander alo...,0.10%,1.30%,0.30%,0.30%,0.50%,0.20%,0.10%,0.10%,0.10%,...,0.001,0.001,0.10%,1.00%,Z,0.10%,0.80%,Z,0.10%,0.10%
17,"Two or More Races, percent, July 1, 2016, (V2...",1.60%,7.30%,2.80%,2.00%,3.80%,3.00%,2.30%,2.60%,2.10%,...,0.023,0.019,1.90%,2.50%,1.90%,2.90%,4.60%,1.70%,1.90%,2.10%
18,"Hispanic or Latino, percent, July 1, 2016, (V...",4.20%,7.00%,30.90%,7.30%,38.90%,21.30%,15.70%,9.20%,24.90%,...,0.037,0.052,39.10%,13.80%,1.90%,9.10%,12.40%,1.50%,6.70%,10.00%
19,"White alone, not Hispanic or Latino, percent, ...",65.80%,61.20%,55.50%,72.90%,37.70%,68.60%,67.70%,62.90%,54.90%,...,0.825,0.742,42.60%,78.80%,93.10%,62.40%,69.50%,92.30%,81.70%,84.10%
20,"Veterans, 2011-2015","363,170","69,323","505,794","220,953","1,777,410","391,725","199,331","71,213","1,507,738",...,63742,462414,"1,539,655","134,332","44,708","706,539","564,864","150,021","381,940","48,505"
21,"Foreign born persons, percent, 2011-2015",3.50%,7.40%,13.50%,4.70%,27.00%,9.80%,13.90%,8.70%,19.70%,...,0.03,0.048,16.60%,8.40%,4.30%,11.70%,13.40%,1.50%,4.80%,3.60%
22,"Housing units, July 1, 2016, (V2016)","2,230,185","310,658","2,961,003","1,354,762","14,060,525","2,339,118","1,499,116","426,149","9,301,642",...,383838,2919671,"10,753,629","1,054,164","329,525","3,491,054","3,025,685","886,640","2,668,444","270,600"
23,"Housing units, April 1, 2010","2,171,853","306,967","2,844,526","1,316,299","13,680,081","2,212,898","1,487,891","405,885","8,989,580",...,363438,2812133,"9,977,436","979,709","322,539","3,364,939","2,885,677","881,917","2,624,358","261,868"
24,"Owner-occupied housing unit rate, 2011-2015",68.70%,63.40%,62.80%,66.10%,54.30%,64.30%,67.00%,71.20%,65.30%,...,0.681,0.668,62.20%,69.50%,71.00%,66.20%,62.50%,72.50%,67.30%,69.10%
25,"Median value of owner-occupied housing units, ...","$125,500","$250,000","$167,500","$111,400","$385,500","$247,800","$270,500","$231,500","$159,000",...,140500,142100,"$136,000","$215,900","$217,500","$245,000","$259,500","$103,800","$165,800","$194,800"
26,Median selected monthly owner costs -with a mo...,"$1,139","$1,827","$1,343","$1,019","$2,155","$1,577","$2,067","$1,537","$1,435",...,1210,1181,"$1,432","$1,428","$1,535","$1,711","$1,731",$966,"$1,402","$1,348"
27,Median selected monthly owner costs -without a...,$345,$554,$380,$327,$500,$419,$833,$445,$463,...,433,359,$460,$388,$641,$433,$511,$293,$532,$386
28,"Median gross rent, 2011-2015",$717,"$1,146",$913,$677,"$1,255","$1,002","$1,075","$1,018","$1,002",...,655,764,$882,$887,$895,"$1,116","$1,014",$643,$776,$789
29,"Building permits, 2016","15,001","1,503","35,578","9,474","102,350","38,974","5,504","5,804","116,240",...,5686,36157,"165,853","22,662","1,771","31,132","44,077","2,544","19,274","1,727"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,"Bachelor's degree or higher, percent of person...",23.50%,28.00%,27.50%,21.10%,31.40%,38.10%,37.60%,30.00%,27.30%,...,0.27,0.249,27.60%,31.10%,36.00%,36.30%,32.90%,19.20%,27.80%,25.70%
36,"With a disability, under age 65 years, percent...",11.80%,8.10%,8.20%,12.30%,6.80%,7.20%,7.10%,8.50%,8.50%,...,0.084,0.112,8.10%,6.60%,10.00%,7.70%,8.90%,14.40%,8.20%,8.50%
37,"Persons without health insurance, under age 6...",10.70%,15.50%,11.90%,9.30%,8.30%,8.60%,5.70%,6.60%,15.30%,...,0.103,0.106,18.60%,9.70%,4.50%,10.10%,6.90%,6.50%,6.20%,13.40%
38,"In civilian labor force, total, percent of pop...",58.00%,67.70%,59.30%,58.50%,63.10%,67.60%,67.20%,63.10%,58.80%,...,0.686,0.61,64.30%,67.70%,66.60%,64.70%,63.50%,53.90%,67.10%,67.70%
39,"In civilian labor force, female, percent of po...",53.00%,65.00%,54.50%,53.30%,57.20%,62.60%,62.80%,59.40%,54.70%,...,0.646,0.563,57.70%,59.50%,63.60%,60.80%,58.50%,49.20%,63.50%,62.70%
40,"Total accommodation and food services sales, 2...","7,576,462","2,221,335","13,996,635","4,307,264","90,830,372","13,617,654","9,542,068","2,148,437","49,817,925",...,1873699,12499013,"54,480,811","4,789,281","1,564,272","17,795,901","14,297,278","4,036,333","10,303,256","1,644,844"
41,Total health care and social assistance receip...,"26,039,632","6,375,483","37,055,881","15,792,628","248,953,592","29,488,161","29,573,119","7,003,251","124,061,425",...,6211731,42383683,"145,035,130","14,521,857","4,457,996","47,705,003","43,966,889","12,259,395","40,680,625","3,291,478"
42,"Total manufacturers shipments, 2012 ($1,000)","124,809,759",D,"51,243,473","62,712,925","512,303,164","50,447,098","55,160,095","22,597,384","96,924,106",...,16882647,139960482,"702,603,073","50,046,429","9,315,494","96,389,872","131,530,601","24,553,072","177,728,926","10,783,794"
43,"Total merchant wholesaler sales, 2012 ($1,000)","57,746,565","5,216,303","69,437,272","31,256,110","666,652,186","77,034,971","161,962,244","5,628,914","252,626,608",...,20411059,111718421,"691,242,607","30,927,885","6,450,076","86,613,641","83,313,366","14,295,437","77,066,883","5,597,891"
44,"Total retail sales, 2012 ($1,000)","58,564,965","10,474,275","84,716,542","36,815,256","481,800,461","67,815,200","51,632,467","14,456,001","273,867,145",...,13791827,91641605,"356,116,376","38,024,486","9,933,751","110,002,385","118,924,049","22,637,923","78,201,822","9,446,043"
45,"Total retail sales per capita, 2012","$12,145","$14,320","$12,927","$12,483","$12,665","$13,073","$14,381","$15,763","$14,177",...,16550,14194,"$13,666","$13,317","$15,868","$13,438","$17,243","$12,201","$13,656","$16,388"
46,"Mean travel time to work (minutes), workers ag...",24.4,19,24.8,21.6,28,24.8,25.4,25.5,26.4,...,16.9,24.5,25.6,21.6,22.5,27.9,26.3,25.6,21.9,18.3
47,"Median household income (in 2015 dollars), 201...","$43,623","$72,515","$50,255","$41,371","$61,818","$60,629","$70,331","$60,509","$47,507",...,50957,45219,"$53,207","$60,727","$55,176","$65,015","$61,062","$41,751","$53,357","$58,840"
48,Per capita income in past 12 months (in 2015 d...,"$24,091","$33,413","$25,848","$22,798","$30,318","$32,217","$38,803","$30,554","$26,829",...,26747,25227,"$26,999","$24,686","$29,894","$34,152","$31,762","$23,450","$28,340","$29,803"
49,"Persons in poverty, percent",17.10%,9.90%,16.40%,17.20%,14.30%,11.00%,9.80%,11.70%,14.70%,...,0.133,0.158,15.60%,10.20%,11.90%,11.00%,11.30%,17.90%,11.80%,11.30%
50,"Total employer establishments, 2015","98,540","20,907","136,352","65,175","908,120","161,737","89,232","24,852","532,830",...,26511,133344,"569,091","75,463","21,121","197,384","182,913","36,993","139,500","21,040"
51,"Total employment, 2015","1,634,391","267,999","2,295,186","1,003,113","14,325,377","2,253,795","1,503,102","397,385","7,777,990",...,353540,2507205,"10,239,710","1,203,954","266,363","3,198,718","2,602,408","565,435","2,503,532","219,881"
52,"Total annual payroll, 2015 ($1,000)","67,370,353","15,643,303","102,671,393","39,451,191","856,954,246","117,539,555","92,555,072","21,305,227","337,074,525",...,13812997,110481280,"521,095,797","51,453,266","10,615,093","165,788,897","149,258,789","22,159,084","112,406,494","10,094,010"
53,"Total employment, percent change, 2014-2015",1.90%,0.40%,2.40%,1.10%,3.50%,3.30%,1.20%,1.50%,4.50%,...,0.016,0.022,3.20%,4.90%,2.00%,1.20%,2.90%,-1.70%,2.20%,FN
54,"Total nonemployer establishments, 2015","322,025","55,521","451,951","198,380","3,206,958","480,847","272,809","60,734","2,040,339",...,64006,495703,"2,205,149","216,280","60,312","576,446","444,135","88,136","341,935","48,140"
55,"All firms, 2012","374,153","68,032","499,926","231,959","3,548,449","547,352","326,693","73,418","2,100,187",...,81314,550453,"2,356,748","251,419","75,827","653,193","541,522","114,435","432,980","62,427"
56,"Men-owned firms, 2012","203,604","35,402","245,243","123,158","1,852,580","284,554","187,845","38,328","1,084,885",...,42418,302249,"1,251,696","132,163","41,270","353,012","262,650","63,112","236,252","30,039"
57,"Women-owned firms, 2012","137,630","22,141","182,425","75,962","1,320,085","194,508","106,678","23,964","807,817",...,23722,195694,"866,678","76,269","23,417","236,290","187,677","39,065","133,859","19,344"
58,"Minority-owned firms, 2012","92,219","13,688","135,313","35,982","1,619,857","85,849","56,113","14,440","926,112",...,4101,105234,"1,070,392","24,423","2,354","185,043","92,807","5,777","40,507","4,077"
59,"Nonminority-owned firms, 2012","272,651","51,147","344,981","189,029","1,819,107","442,365","259,614","54,782","1,121,749",...,74228,434025,"1,224,845","218,826","70,491","450,109","426,697","104,785","379,934","55,397"
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [414]:
# Transpose the data so that the rows are observations for each state
#df_census = df.T
# Set the column names to the values in the Fact row

df_census.columns = df_census.iloc[0]
df_census.head()
df_census.to_csv('census_by_state.csv', index=True)

# Let's get some more info on what data is in each column in order to see which variables
# we might consider looking at for this analysis.

#df_census.head()
df_census.columns

Index(['Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       'Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015',
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent', 'Total employer establishments, 2015',
       'Total employment, 2015', 'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010', 'Land area in square miles, 2010',
       'FIPS Code'],
      dtype='object', name='Fact')

In [415]:
# Rename the columns:
df_census.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
# Create a list of the existing column names:
columns_list = df_census.columns.tolist()
pprint(columns_list)

['population_estimates,_july_1,_2016,__(v2016)',
 'population_estimates_base,_april_1,_2010,__(v2016)',
 'population,_percent_change_-_april_1,_2010_(estimates_base)_to_july_1,_2016,__(v2016)',
 'population,_census,_april_1,_2010',
 'persons_under_5_years,_percent,_july_1,_2016,__(v2016)',
 'persons_under_5_years,_percent,_april_1,_2010',
 'persons_under_18_years,_percent,_july_1,_2016,__(v2016)',
 'persons_under_18_years,_percent,_april_1,_2010',
 'persons_65_years_and_over,_percent,__july_1,_2016,__(v2016)',
 'persons_65_years_and_over,_percent,_april_1,_2010',
 'female_persons,_percent,__july_1,_2016,__(v2016)',
 'female_persons,_percent,_april_1,_2010',
 'white_alone,_percent,_july_1,_2016,__(v2016)',
 'black_or_african_american_alone,_percent,_july_1,_2016,__(v2016)',
 'american_indian_and_alaska_native_alone,_percent,_july_1,_2016,__(v2016)',
 'asian_alone,_percent,_july_1,_2016,__(v2016)',
 'native_hawaiian_and_other_pacific_islander_alone,_percent,_july_1,_2016,__(v2016)',
 'two_or_more_races,_percent,_july_1,_2016,__(v2016)',
 'hispanic_or_latino,_percent,_july_1,_2016,__(v2016)',
 'white_alone,_not_hispanic_or_latino,_percent,_july_1,_2016,__(v2016)',
 'veterans,_2011-2015',
 'foreign_born_persons,_percent,_2011-2015',
 'housing_units,__july_1,_2016,__(v2016)',
 'housing_units,_april_1,_2010',
 'owner-occupied_housing_unit_rate,_2011-2015',
 'median_value_of_owner-occupied_housing_units,_2011-2015',
 'median_selected_monthly_owner_costs_-with_a_mortgage,_2011-2015',
 'median_selected_monthly_owner_costs_-without_a_mortgage,_2011-2015',
 'median_gross_rent,_2011-2015',
 'building_permits,_2016',
 'households,_2011-2015',
 'persons_per_household,_2011-2015',
 'living_in_same_house_1_year_ago,_percent_of_persons_age_1_year+,_2011-2015',
 'language_other_than_english_spoken_at_home,_percent_of_persons_age_5_years+,_2011-2015',
 'high_school_graduate_or_higher,_percent_of_persons_age_25_years+,_2011-2015',
 "bachelor's_degree_or_higher,_percent_of_persons_age_25_years+,_2011-2015",
 'with_a_disability,_under_age_65_years,_percent,_2011-2015',
 'persons__without_health_insurance,_under_age_65_years,_percent',
 'in_civilian_labor_force,_total,_percent_of_population_age_16_years+,_2011-2015',
 'in_civilian_labor_force,_female,_percent_of_population_age_16_years+,_2011-2015',
 'total_accommodation_and_food_services_sales,_2012_($1,000)',
 'total_health_care_and_social_assistance_receipts/revenue,_2012_($1,000)',
 'total_manufacturers_shipments,_2012_($1,000)',
 'total_merchant_wholesaler_sales,_2012_($1,000)',
 'total_retail_sales,_2012_($1,000)',
 'total_retail_sales_per_capita,_2012',
 'mean_travel_time_to_work_(minutes),_workers_age_16_years+,_2011-2015',
 'median_household_income_(in_2015_dollars),_2011-2015',
 'per_capita_income_in_past_12_months_(in_2015_dollars),_2011-2015',
 'persons_in_poverty,_percent',
 'total_employer_establishments,_2015',
 'total_employment,_2015',
 'total_annual_payroll,_2015_($1,000)',
 'total_employment,_percent_change,_2014-2015',
 'total_nonemployer_establishments,_2015',
 'all_firms,_2012',
 'men-owned_firms,_2012',
 'women-owned_firms,_2012',
 'minority-owned_firms,_2012',
 'nonminority-owned_firms,_2012',
 'veteran-owned_firms,_2012',
 'nonveteran-owned_firms,_2012',
 'population_per_square_mile,_2010',
 'land_area_in_square_miles,_2010',
 'fips_code']

In [427]:
# Construct a data set that contains only the data we will be analyzing with with the NICS data.
# Note that we need to keep population columns for calcs

df_census2 = df_census[['population_estimates,_july_1,_2016,__(v2016)', 'population_estimates_base,_april_1,_2010,__(v2016)', 'population,_percent_change_-_april_1,_2010_(estimates_base)_to_july_1,_2016,__(v2016)', 'foreign_born_persons,_percent,_2011-2015', 'owner-occupied_housing_unit_rate,_2011-2015', 'median_gross_rent,_2011-2015', 'median_household_income_(in_2015_dollars),_2011-2015', 'persons__without_health_insurance,_under_age_65_years,_percent', 'women-owned_firms,_2012', 'minority-owned_firms,_2012', 'all_firms,_2012']].copy()
# These column names are a nightmare - let's rename them!
columns_list2 = df_census2.columns.tolist()
pprint(columns_list2)

['population_estimates,_july_1,_2016,__(v2016)',
 'population_estimates_base,_april_1,_2010,__(v2016)',
 'population,_percent_change_-_april_1,_2010_(estimates_base)_to_july_1,_2016,__(v2016)',
 'foreign_born_persons,_percent,_2011-2015',
 'owner-occupied_housing_unit_rate,_2011-2015',
 'median_gross_rent,_2011-2015',
 'median_household_income_(in_2015_dollars),_2011-2015',
 'persons__without_health_insurance,_under_age_65_years,_percent',
 'women-owned_firms,_2012',
 'minority-owned_firms,_2012',
 'all_firms,_2012']

In [429]:
#Copied the list from above and created the dictionary needed for the new column names:
new_col_names = {'population_estimates,_july_1,_2016,__(v2016)':'pop_16',
 'population_estimates_base,_april_1,_2010,__(v2016)':'pop_10',
 'population,_percent_change_-_april_1,_2010_(estimates_base)_to_july_1,_2016,__(v2016)':'pop_chg',
 'foreign_born_persons,_percent,_2011-2015':'foreign_born_pct',
 'owner-occupied_housing_unit_rate,_2011-2015':'owner-occ_housing',
 'median_gross_rent,_2011-2015':'med_gross_rent',
 'median_household_income_(in_2015_dollars),_2011-2015':'med_hh_income',
 'persons__without_health_insurance,_under_age_65_years,_percent':'no_health_ins',
 'women-owned_firms,_2012':'women-owned_firms',
 'minority-owned_firms,_2012':'min-owned_firms',
'all_firms,_2012': 'all_firms'}

df_census2.rename(columns=new_col_names, inplace=True)
# Drop the Fact row if it's in there
df_census2.drop('Fact', axis=0, inplace=True)


df_census3 = df_census2

df_census3.head()

Fact,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,women-owned_firms,min-owned_firms,all_firms
Alabama,"4,863,300","4,780,131",1.70%,3.50%,68.70%,$717,"$43,623",10.70%,"137,630","92,219","374,153"
Alaska,"741,894","710,249",4.50%,7.40%,63.40%,"$1,146","$72,515",15.50%,"22,141","13,688","68,032"
Arizona,"6,931,071","6,392,301",8.40%,13.50%,62.80%,$913,"$50,255",11.90%,"182,425","135,313","499,926"
Arkansas,"2,988,248","2,916,025",2.50%,4.70%,66.10%,$677,"$41,371",9.30%,"75,962","35,982","231,959"
California,"39,250,017","37,254,522",5.40%,27.00%,54.30%,"$1,255","$61,818",8.30%,"1,320,085","1,619,857","3,548,449"

In [430]:
#Now let's take a look at these data types and make sure they're what we need for the analysis.

get_real_types(df_census3)

{'all_firms': <class 'str'>,
 'foreign_born_pct': <class 'str'>,
 'med_gross_rent': <class 'str'>,
 'med_hh_income': <class 'str'>,
 'min-owned_firms': <class 'str'>,
 'no_health_ins': <class 'str'>,
 'owner-occ_housing': <class 'str'>,
 'pop_10': <class 'str'>,
 'pop_16': <class 'str'>,
 'pop_chg': <class 'str'>,
 'women-owned_firms': <class 'str'>}

{'all_firms': str,
 'foreign_born_pct': str,
 'med_gross_rent': str,
 'med_hh_income': str,
 'min-owned_firms': str,
 'no_health_ins': str,
 'owner-occ_housing': str,
 'pop_10': str,
 'pop_16': str,
 'pop_chg': str,
 'women-owned_firms': str}

In [431]:
#All the data are strings! This is not useful - we need floats.
# In order to do that, we'll first need to remove the non-numeric characters from the data:
cols = df_census3.columns.tolist()
# pass them to df.replace(), specifying each char and it's replacement:
df_census3[cols] = df_census3[cols].replace({'[\$,)]': '', ',': '', '%':'', ' ':''}, regex=True)
#backup the data set:
df_census3_copy = df_census3

df_census3.head()

Fact,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,women-owned_firms,min-owned_firms,all_firms
Alabama,4863300,4780131,1.70,3.50,68.70,717,43623,10.70,137630,92219,374153
Alaska,741894,710249,4.50,7.40,63.40,1146,72515,15.50,22141,13688,68032
Arizona,6931071,6392301,8.40,13.50,62.80,913,50255,11.90,182425,135313,499926
Arkansas,2988248,2916025,2.50,4.70,66.10,677,41371,9.30,75962,35982,231959
California,39250017,37254522,5.40,27.00,54.30,1255,61818,8.30,1320085,1619857,3548449

In [432]:
# Now we can try to do the conversion of the strings to floats:
df_census3[cols] = df_census3[cols].astype('float64')
#check that it worked:
df_census3.head()

Fact,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,women-owned_firms,min-owned_firms,all_firms
Alabama,4863300.0,4780131.0,1.7,3.5,68.7,717.0,43623.0,10.7,137630.0,92219.0,374153.0
Alaska,741894.0,710249.0,4.5,7.4,63.4,1146.0,72515.0,15.5,22141.0,13688.0,68032.0
Arizona,6931071.0,6392301.0,8.4,13.5,62.8,913.0,50255.0,11.9,182425.0,135313.0,499926.0
Arkansas,2988248.0,2916025.0,2.5,4.7,66.1,677.0,41371.0,9.3,75962.0,35982.0,231959.0
California,39250017.0,37254522.0,5.4,27.0,54.3,1255.0,61818.0,8.3,1320085.0,1619857.0,3548449.0

In [433]:
#Pause here - we've done a lot of work on this data - let's create a csv file:
df_census3.to_csv('census_floats.csv', index =True)

#We will re-perform the import at this point - this cell is risky because it contains calculations
#which if repeated, will corrupt our data.

df_census4 = pd.read_csv('census_floats.csv')
df_census4.rename(columns={'Unnamed: 0': 'state'}, inplace=True)
df_census4.head()
#df_census4.info()

# Add in some columns we need for the analysis:
# Proportions of women and minority owned firms:

df_census4['women-owned_prop'] = df_census4['women-owned_firms']/df_census4['all_firms']
df_census4['min-owned_prop'] = df_census4['min-owned_firms']/df_census4['all_firms']

# For consistency, let's express all percentage columns as proportions:
df_census4['pop_chg'] = df_census4['pop_chg']/100
df_census4['foreign_born_pct'] = df_census4['foreign_born_pct']/100
df_census4['owner-occ_housing'] = df_census4['owner-occ_housing']/100
df_census4['no_health_ins'] = df_census4['no_health_ins']/100

df_census4.to_csv('census_complete.csv', index=True)
df_census4.head()

,state,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,women-owned_firms,min-owned_firms,all_firms,women-owned_prop,min-owned_prop
0,Alabama,4863300.0,4780131.0,0.017,0.035,0.687,717.0,43623.0,0.107,137630.0,92219.0,374153.0,0.367844,0.246474
1,Alaska,741894.0,710249.0,0.045,0.074,0.634,1146.0,72515.0,0.155,22141.0,13688.0,68032.0,0.325450,0.201199
2,Arizona,6931071.0,6392301.0,0.084,0.135,0.628,913.0,50255.0,0.119,182425.0,135313.0,499926.0,0.364904,0.270666
3,Arkansas,2988248.0,2916025.0,0.025,0.047,0.661,677.0,41371.0,0.093,75962.0,35982.0,231959.0,0.327480,0.155122
4,California,39250017.0,37254522.0,0.054,0.270,0.543,1255.0,61818.0,0.083,1320085.0,1619857.0,3548449.0,0.372017,0.456497

In [434]:
# Now we'll bring in the relevant data from the NICS dataset and merge it in:
nics_merge = pd.read_csv('final_nics.csv')
state_politics = pd.read_csv('state_politics.csv')
df_census_final = pd.read_csv('census_complete.csv')

In [435]:
nics_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
state              55 non-null object
handguns_total     55 non-null float64
long_guns_total    55 non-null float64
other_total        55 non-null float64
totals             55 non-null int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ KB

In [436]:
state_politics.head()

        state politics
0     Alabama      Red
1      Alaska      Red
2     Arizona      Red
3    Arkansas      Red
4  California     Blue

In [437]:
df_census_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
Unnamed: 0           50 non-null int64
state                50 non-null object
pop_16               50 non-null float64
pop_10               50 non-null float64
pop_chg              50 non-null float64
foreign_born_pct     50 non-null float64
owner-occ_housing    50 non-null float64
med_gross_rent       50 non-null float64
med_hh_income        50 non-null float64
no_health_ins        50 non-null float64
women-owned_firms    50 non-null float64
min-owned_firms      50 non-null float64
all_firms            50 non-null float64
women-owned_prop     50 non-null float64
min-owned_prop       50 non-null float64
dtypes: float64(13), int64(1), object(1)
memory usage: 5.9+ KB

In [438]:
master1 = pd.merge(df_census_final, state_politics, how='outer', on=['state', 'state'])

In [439]:
master = pd.merge(master1, nics_merge, how='outer', on=['state', 'state'])
master = master[master.state != 'Kentucky']

master.head()

,Unnamed: 0,state,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,women-owned_firms,min-owned_firms,all_firms,women-owned_prop,min-owned_prop,politics,handguns_total,long_guns_total,other_total,totals
0,0.0,Alabama,4863300.0,4780131.0,0.017,0.035,0.687,717.0,43623.0,0.107,137630.0,92219.0,374153.0,0.367844,0.246474,Red,135207.0,126076.0,467577.0,3643862
1,1.0,Alaska,741894.0,710249.0,0.045,0.074,0.634,1146.0,72515.0,0.155,22141.0,13688.0,68032.0,0.325450,0.201199,Red,44639.0,43557.0,13438.0,566738
2,2.0,Arizona,6931071.0,6392301.0,0.084,0.135,0.628,913.0,50255.0,0.119,182425.0,135313.0,499926.0,0.364904,0.270666,Red,201930.0,130644.0,188299.0,2292122
3,3.0,Arkansas,2988248.0,2916025.0,0.025,0.047,0.661,677.0,41371.0,0.093,75962.0,35982.0,231959.0,0.327480,0.155122,Red,99117.0,113970.0,107521.0,1651493
4,4.0,California,39250017.0,37254522.0,0.054,0.270,0.543,1255.0,61818.0,0.083,1320085.0,1619857.0,3548449.0,0.372017,0.456497,Blue,636552.0,544564.0,1671978.0,10186989

In [440]:
#Now that we have all the data together, our last step is to create some calculated columns to
#show the NICS data per capita (i.e. normalized for population)

a = master['pop_16']

master['total_NICS_pc'] = master['totals']/a
master['handguns_pc'] = master['handguns_total']/a
master['long_guns_pc'] = master['long_guns_total']/a
master['other_pc'] = master['other_total']/a

master.head()

,Unnamed: 0,state,pop_16,pop_10,pop_chg,foreign_born_pct,owner-occ_housing,med_gross_rent,med_hh_income,no_health_ins,...,min-owned_prop,politics,handguns_total,long_guns_total,other_total,totals,total_NICS_pc,handguns_pc,long_guns_pc,other_pc
0,0.0,Alabama,4863300.0,4780131.0,0.017,0.035,0.687,717.0,43623.0,0.107,...,0.246474,Red,135207.0,126076.0,467577.0,3643862,0.749257,0.027801,0.025924,0.096144
1,1.0,Alaska,741894.0,710249.0,0.045,0.074,0.634,1146.0,72515.0,0.155,...,0.201199,Red,44639.0,43557.0,13438.0,566738,0.763907,0.060169,0.058711,0.018113
2,2.0,Arizona,6931071.0,6392301.0,0.084,0.135,0.628,913.0,50255.0,0.119,...,0.270666,Red,201930.0,130644.0,188299.0,2292122,0.330702,0.029134,0.018849,0.027167
3,3.0,Arkansas,2988248.0,2916025.0,0.025,0.047,0.661,677.0,41371.0,0.093,...,0.155122,Red,99117.0,113970.0,107521.0,1651493,0.552663,0.033169,0.038139,0.035981
4,4.0,California,39250017.0,37254522.0,0.054,0.270,0.543,1255.0,61818.0,0.083,...,0.456497,Blue,636552.0,544564.0,1671978.0,10186989,0.259541,0.016218,0.013874,0.042598

In [442]:
#WOW IT'S DONE!! :) We now have a single dataframe we can use to do our analysis of the relationship
#between various census variables and the NICS data!

master.to_csv('master_NICS_2011-17.csv', index=False)